body{
    font-family: $font-family;
}
h2{
    font-size: $fz-h2;
    color: $c-base;
    line-height: 1.44;
    font-weight: bold;
    padding-bottom: 16px;  
    
    @include rwd($md){
        font-size: $fz-h2*1.5;
        line-height: 1.46;
    }
}

h3{
    font-size: $fz-h3;
    color: $c-base;
    line-height: 1.44;
    font-weight: bold;
    padding: 0 0 16px 0;
    text-align: center;
    @include rwd($md){
        font-size: $fz-h3*1.143;
    }
}

h4{
    font-size: $fz-h4;
    color: $c-base;
    line-height: 1.44;
    font-weight: bold;
}

header{
    height: 100vh;
    position: relative;
}

.flex{
    display: flex;
    &__direction--col{
        flex-direction: column;
    }
    &__wrap{
        flex-wrap: wrap;
    }
    &__justify--between{
        justify-content: space-between;
    }
    &__justify--end{
        justify-content: end;
    }
    &__justify--center{
        justify-content: center;
    }
    &__justify--around{
        justify-content: space-around;
    }
    &__justify--evenly{
        justify-content: space-evenly;
    }
    &__alignItems--center{
        align-items: center;
    }
    &__alignItems--start{
        align-items: start;
    }
   
}