// *{
//     outline: 1px #000 solid;
// }
.container {
    max-width: 1088px;
    margin: 0 auto;
}

.header {
    padding: 16px 20px;
    border-bottom: 2px solid #FFD153;
    margin-bottom: 32px;

    @include rwd($md) {
        border-bottom: 0px;
        margin-bottom: 30px;
    }

    &__bg {
        position: absolute;
        background-image: url(~/../../img/bg_home_sm.svg);
        background-position: center;
        background-size: cover;
        width: 334px;
        height: 244.79px;
        top: 394px;
        right: 20px;
        z-index: -1;

        @include rwd($md) {
            background-image: url(~/../../img/bg_home.svg);
            top: 0px;
            right: 0px;
            width: 70%;
            height: 70%;
        }

        @include rwd($lg) {
            width: 750px;
            height: 650px;
        }

        @include rwd($xl) {
            width: 850px;
            height: 100vh;
        }
    }
}

.logo {
    width: 130px;
}

.banner {
    padding: 0px 20px;

    @include rwd($xl) {
        padding: 0;
    }

    &__body {
        @include rwd($md) {
            width: 50%;
        }

        @include rwd($xl) {
            width: 553px;
        }
    }

    &__content {
        font-size: $fz-base;
        color: $c-primary;
        padding: 0 0 8px 0;
        text-align-last: left;

        @include rwd($md) {
            font-size: $fz-base * 1.125;
        }
    }

    &__title {
        @include rwd($md) {
            font-size: $fz-h2*0.95;
        }

        @include rwd($lg) {}

        @include rwd($xl) {
            font-size: $fz-h2*1.5;
        }

    }

    &__detail {
        font-size: $fz-base;
        color: $c-base;
        line-height: 1.5;
        padding-bottom: 32px;

        @include rwd($md) {
            font-size: $fz-base * 1.25;
            line-height: 1.45;
            padding-bottom: 0;
        }
    }

    &__img {
        padding-bottom: 38.5px;

        @include rwd($md) {
            height: auto;
            padding-bottom: 0;
        }

        & img {
            width: 304.32px;
            height: 305.5px;

            @include rwd($lg) {
                width: 480px;
                height: 482px;
            }

            @include rwd($xl) {
                width: 532px;
                height: 534px;
            }
        }
    }
}

.footer {
    height: calc(461px + 56px);

    @include rwd($md) {
        height: calc(503px + 56px);
    }

    &__box {
        background-image: url(../img/footer_sm.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 261px;
        width: 100vw;

        @include rwd($sm) {
            background-image: url(../img/home_footer.svg);
            height: 384px;
        }
    }

    &__title {
        font-size: $fz-base*1.5;
        margin-top: 293px;
        margin-bottom: 24px;

        @include rwd($md) {
            font-size: $fz-base*2;
        }
    }

    p {
        padding: 16px 44px;
        line-height: 1.5;
    }
}

.role {
    padding: 0px 20px 20px 20px;

    @include rwd($xl) {
        padding: 0 0 88px 0;
    }

    &__content {
        text-align: center;
        font-size: $fz-lg;
        line-height: 1.44;
        padding: 0 0 20px 0;

        @include rwd($xl) {
            font-size: $fz-lg*1.11;
            padding: 0 0 36px 0;
        }
    }

    &__list {
        @include rwd($xl) {
            margin-left: -8px;
            margin-right: -8px;
        }
    }

    .roleCard {
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
        padding: 12px 0;
        padding: 12px 38px;

        @include rwd($xl) {
            padding: 12px 8px;
        }

        &__img {
            border-radius: 12px 12px 0px 0px;
            width: 260px;
        }

        &__body {
            width: 260px;
        }

        &__title {
            line-height: 1.5;
            color: $c-primary;
            padding: 16px 0;
            text-align: center;
        }

        &__content {
            line-height: 1.5;
            color: $c-base;
            padding: 0 16px 24px 16px;
            text-align: center;
        }
    }
}

.platform {
    padding: 0 20px 48px 20px;

    @include rwd($md) {
        padding: 0 8px 88px 8px;
    }

    &__list {
        padding-top: 4px;

        @include rwd($md) {
            padding-top: 32px;
        }
    }

    .platformCard {
        padding: 12px 0px;

        &__img {
            width: 60px;
            padding-bottom: 16px;

            @include rwd($md) {
                padding-bottom: 24px;
            }
        }

        &__body {
            width: 228px;

            @include rwd($md) {
                width: 240px;
            }
        }

        &__title {
            padding-bottom: 16px;
            text-align: center;
            line-height: 1.44;

            @include rwd($md) {
                padding-bottom: 24px;
                font-size: $fz-h4*1.33;
            }
        }

        &__content {
            color: $c-fourth;
            line-height: 1.5;
            text-align: center;
        }
    }
}

.review{
    padding: 0 20px 36px 20px;
    @include rwd($md){
        padding-right: 8px;
        padding-left: 8px;
    }

    &__list{
        padding-top: 16px;
        @include rwd($md){
            padding-top: 32px;
        }
        @include rwd($xl){           
            margin-right: -32px;
            margin-left: -32px;
        }
    }
    .reviewCard{
        padding-bottom: 24px;
        @include rwd($md){
            padding-left: 8px;
            padding-right: 8px;
        }
        
        &__img{
            width: 80px;
            border-radius: 80px;
            box-shadow: 0px 2px 10px #00000014;
            margin-bottom: -24px;
            margin-left: 16px;
        }
        &__body{
            width: 335px;
            border-radius: 12px;
            box-shadow: 0px 2px 10px #00000014;
            padding: 0 16px;
            @include rwd($md){
                width: 230px;
                padding: 0px;
            }
            @include rwd($lg){
                width: 300px;
                padding: 0 16px;
            }
            @include rwd($xl){
                width: 352px;
                padding: 0 32px;
            }
            
        }        
        &__content{
            font-size: $fz-base;
            line-height: 1.5;
            color: $c-base;
            padding-top: 48px;
            padding-bottom: 32px;
            @include rwd($md){
                padding-bottom: 48px;
            }
        }
        &__title{
            font-size: $fz-base;
            line-height: 1.5;
            color: $c-base;
            font-weight: bold;
            padding-bottom: 8px;
        }
        &__detailTitle{
            font-size: $fz-base;
            line-height: 1.5;
            color: $c-base;
        }
        &__detailContent{
            width: 121px;
        }
        & .starIcon{
            width: 16px;
            height: 16px;
        }
    }
}