/*rwd*/
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

/*color*/
$c-base:#221E1F; /*文字*/
$c-primary:#56C4C5;
$c-secondary:#FF5D50;
$c-tertiary:#F5CA52;
$c-fourth:#747474;


/*font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
$font-family:"Noto Sans TC", sans-serif;

$fz-base:1rem;
$fz-xs:$fz-base*0.75; /*12px*/
$fz-sm:$fz-base*0.875; /*14px*/
$fz-lg:$fz-base*1.125; /*18px*/
$fz-xl:$fz-base*1.25;/*20px*/

$fz-h1:$fz-base*3; /*48px*/
$fz-h2:$fz-base*2; /*32px*/
$fz-h3:$fz-base*1.75; /*28px*/
$fz-h4:$fz-base*1.125; /*18px*/

